.password-number[type="tel"] {
    -webkit-text-security: disc;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

a:link {color: #333333; text-decoration: none; }
a:active {color: #333333; text-decoration: none; }
a:visited {color: #333333; text-decoration: none; }
a:hover {color: #333333; text-decoration: none; }

#loader {
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* ANIMATIONS
============================================================================= */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}

@keyframes slideOutRight {
    to      { transform: translateX(200%); }
}
@-moz-keyframes slideOutRight {  
    to      { -moz-transform: translateX(200%); }
}
@-webkit-keyframes slideOutRight {
    to      { -webkit-transform: translateX(200%); }
}

/* slide in from the right */
@keyframes slideInLeft {
    from    { transform:translateX(-200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-200%); }
    to      { -webkit-transform: translateX(0); }
}

.md-sidenav-left {
    z-index: 100;
}

.md-button {
    text-transform: none !important;
}

.application-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

hr {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #999999;
    border-bottom: 0 !important;
    height: 0 !important;
    padding: 0 !important;

}

/*p {
    margin: 0;
}*/

md-input-container md-datepicker .md-datepicker-input-container {
    width: 100% !important;
    max-width: 300px;
}

md-input-container md-datepicker input {
    width: 100% !important;
}

md-datepicker .md-datepicker-input {
    width: 100% !important;
    max-width: 300px !important;
}

.md-calendar {
    background-color: rgb(66,66,66) !important;
}


.error400 h1 {
    color: #666666;
    padding: 0;
    margin:0;
    font-size: 500%;
}

.error400 h3 {
    color: #444444;
}

.error400 p {
    color: #999999;
}

.no-errors-spacer .md-errors-spacer {
    display: none;
}

/* ANIMATION PAGES */
.fade[ui-view].ng-enter, 
.fade[ui-view].ng-leave {
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
}
.fade[ui-view].ng-enter {
    opacity: 0;
}
.fade[ui-view].ng-enter-active {
    opacity: 1;
}
.fade[ui-view].ng-leave {
    opacity: 1;
}
.fade[ui-view].ng-leave-active {
    opacity: 0;
}

.rtl[ui-view].ng-enter,
.rtl[ui-view].ng-leave { 
    transition:0.5s all ease; 
    -moz-transition:0.5s all ease; 
    -webkit-transition:0.5s all ease; 
}   
/* enter animation */
.rtl[ui-view].ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}
/* leave animation */
.rtl[ui-view].ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}

.ltr[ui-view].ng-enter,
.ltr[ui-view].ng-leave { 
    transition:0.5s all ease; 
    -moz-transition:0.5s all ease; 
    -webkit-transition:0.5s all ease; 
}
.ltr[ui-view].ng-leave            { 
    -webkit-animation:slideOutRight 0.5s both ease;
    -moz-animation:slideOutRight 0.5s both ease;
    animation:slideOutRight 0.5s both ease;   
}
.ltr[ui-view].ng-enter            { 
    -webkit-animation:slideInLeft 0.5s both ease;
    -moz-animation:slideInLeft 0.5s both ease;
    animation:slideInLeft 0.5s both ease; 
}

.top-toolbar .md-toolbar-tools {
    min-height: 64px !important;
    padding: 0 !important;
    border-bottom: 2px solid #f8e12f;
}

md-radio-button {
    margin: 0 !important;
}

p[ng-bind-html], span[ng-bind-html] {
    white-space: pre-line !important;
}

.top-toolbar img {
    height: 36px;
}

.platform-ios .top-toolbar {
    border-top: 20px solid #005a6f;
}

.place-center::-webkit-input-placeholder {
   text-align: center;
}

.place-center:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.place-center::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.place-center:-ms-input-placeholder {  
   text-align: center; 
}

.normal-case {
    text-transform: none !important;
}
a, a:active, a:focus, 
img, img:active, img:focus, 
div, div:active, div:focus, 
md-grid-tile, md-grid-tile:active, md-grid-tile:focus, 
button, button:active, button:focus {
    outline: none;
}

.mouse-disabled,
.mouse-disabled p,
.mouse-disabled span,
.mouse-disabled div,
.mouse-disabled a,
.mouse-disabled small,
.mouse-disabled img,
.mouse-disabled i,
.mouse-disabled md-icon {
    pointer-events: none !important;
}

.muted {
    color: rgba(0, 0, 0, .4);
}

.sleen {
    font-weight: 300 !important;
}

.hint {
    opacity: .5;
    font-size: 70%;
    font-style: italic;
    margin-bottom: 15px;
}

.text-italic {
    font-style: italic;
}

.md-subheader.md-hash4all-theme {
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.md-subheader .md-subheader-inner {
    padding-bottom: 5px !important;
}

.pre {
    white-space: pre-line;
}

.md-datepicker-input-mask {
    display: none;
}

i.mdi {
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    fill: currentColor;
    line-height: 1;
    font-size: 24px;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
}

.avatar-container {
    background: transparent url('../img/account-circle.png') no-repeat center center;
    background-size: contain;
}

.md-sidenav-left .avatar-container {
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 100%;
    margin: 0 10px;
    padding: 0;
}

.md-sidenav-left .avatar {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
}

.md-sidenav-left .logo {
    background: transparent url('../img/logo.png') no-repeat left center;
    background-size: contain;
    width: 200px;
    height: 50px;
    margin: 40px 0 40px 30px;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.md-sidenav-left .menu .md-list-item-inner {
    padding-left: 25px;
}

.md-sidenav-left md-list-item.active {
    background-color: rgba(255,255,255,.05);
    
}

#uploadButton {
    margin: 0;
}