<md-content 
    layout-fill
    class="balance-index"
    layout="column"
    >
    <div layout-margin layout="column" flex="none">
    	<h1 class="md-title sleen">{{ 'My Terahashs' | translate }}</h1>
    	<h1 class="md-display-1"  md-colors="{ color : 'hash4all-accent-hue-1' }">
    		<strong>{{ account.customer.terahash }}</strong> TH/{{ 'Sec' | translate }}
    	</h1>
    </div>
    <div class="list" layout-margin layout="column" flex="none">
    	<div flex="none" layout="row" layout-align="end" style="margin: 0;">
			<md-button class="md-icon-button md-accent md-hue-1" aria-label="Button" ng-click="switchSort()" style="margin: 0;">
				<md-icon class="mdi mdi-sort"></md-icon>
			</md-button>
    	</div>
    	<div class="line" ng-repeat="order in orders" >
    		<div class="sub-line" layout="row" layout-align="space-between none">
              <div flex="none" layout="column">
                    <span ng-if="order.coin"><strong>{{ order.coin.symbol }} {{ order.value | money:order.coin.symbol }}</strong></span>
                    <span ng-if="!order.coin"><strong>0</strong></span>
                    <br>
                    <span class="sleen"><small>{{ order.status.type }}</small></span>
                </div>
                <div flex="none" layout="column">
                    <span><strong>{{ order.terahash }}</strong> Terahashs</span>
                    <br>
                    <span class="sleen text-right"><small>{{ order.updated_at | datetime:'DD/MM/YYYY HH:mm:ss'}}</small></span>
                </div>      
            </div>
    	</div>
		<div class="page-line pointer" flex="none" layout="row" layout-align="center center" ng-click="index()" ng-if="page > 0">
			<md-button class="md-fab md-mini md-accent md-hue-1" aria-label="Button" style="margin: 0;">
				<md-icon class="mdi mdi-plus"></md-icon>
			</md-button>
		</div>
    </div>
</md-content>
<style type="text/css">
	.balance-index .list {
		background-color: #ffffff;
		padding: 15px;
		border-radius: 15px;
		box-shadow: 0px -2px 10px rgba(0,0,0,.1);
	}
    
    .balance-index .list .line {
        margin: 0;
        padding: 0 0 0 15px;
        border-left: 1px solid #f1f1f1;
        position: relative;
    }
    
    .balance-index .list .line:before {
        content: '•';
        color: #f1f1f1;
        font-size: 40px;
        line-height: 38px;
        display: block;
        position: absolute;
        top: 12px;
        left: -7px;
    }
	
    .balance-index .list .line .sub-line {
        border-top: 1px solid #f1f1f1;
        margin: 0;
        padding: 10px 0;
        color: #5cdef0;
    }
    
    .balance-index .list .page-line {
        border-top: 1px solid #f1f1f1;
        margin: 0 0 0 10px;
        padding: 10px 0;
    }
</style>