<md-content 
	md-scroll-y 
    layout-fill 
    layout="column"

    sub-header-blur
	layout-align="none none"
	layout-align-gt-xs="center center"
	layout-padding>
	<div>
		<p>
			<small>{{ 'We`ll send an email to the registered address.' | translate }}</small>
		</p>
		<p>
			<small>{{ 'If you have any problem contact us by phone.' | translate }} <md-button href="tel:+5511999999999">(11) 99999-9999</md-button></small>
		</p>
		<form flex="none" 
			layout="column" 
			layout-align="start stretch" 
			layout-gt-xs="row" 
			layout-align-gt-xs="start center" 
			name="loginForm" 
			ng-submit="submit()">
			<md-input-container class="no-errors-spacer" flex>
				<label>E-mail</label>
				<input
					ng-model="username" 
					name="username" 
					type="text"
					autocorrect="off" 
					autocapitalize="off">
				<div ng-messages="loginForm.username.$error">
					<div ng-message="required">{{ 'Enter your e-mail.' | translate }}</div>
				</div>
			</md-input-container>
			<md-button 
				style="margin: 0;"
			 	flex="none"
				class="md-raised md-primary"
				ng-click="submit()">
				{{ 'Send' | translate }}
			</md-button>
		</form>
	</div>
</md-content>