<md-content 
	md-scroll-y 
    layout-fill 
    layout="column"
    layout-align="start center"
    class="login-page">
    <div flex></div>
	<div flex="none" class="logo-container"></div>
	<md-button 
		aria-label="Botão"
		class="md-raised md-accent md-hue-1"
		ng-click="social('facebook')">
		<md-icon class="mdi mdi-facebook"></md-icon>
	</md-button>
	<md-button 
		aria-label="Botão"
		class="md-raised md-accent md-hue-1"
		ng-click="social('google')">
		<md-icon class="mdi mdi-google"></md-icon>
	</md-button>
	<md-button 
		aria-label="Botão"
		class="md-raised md-accent md-hue-1"
		ng-click="login($event)">
		{{ 'Login' | translate }}
	</md-button>
	<md-button 
		aria-label="Botão"
		class="md-accent md-hue-1"
		ui-sref="signup">
		{{ 'Sign up' | translate }}
	</md-button>
	<div flex></div>
	<md-button 
		aria-label="Botão"
		class="md-accent md-hue-1"
		href="http://hash4all.com">
		{{ 'Informations' | translate }}
	</md-button>
</md-content>
<style type="text/css">
	.logo-container {
		background: transparent url('img/logo.png') no-repeat center center;
		background-size: contain;
		width: 300px;
		height: 100px;
		display: block;
	}
	.login-page {
		background: transparent url('img/home_background.jpg') no-repeat top center;
		background-size: cover;
		opacity: 0;
		transition: opacity 0.3s;
		-webkit-transition: opacity 0.3s;
	}
	.login-page-enabled {
		opacity: 1;
	}
	
	.login-page .md-raised {
		background-color: rgba(0,0,0,.5) !important;
    	border: 1px solid #f9e641 !important;
    	min-width: 170px;
	}
	
	.login-page .md-raised:hover {
		border: 1px solid #ffffff !important;
	}
</style>