<md-content 
	md-scroll-y 
    layout-fill 
    layout="column"
    layout-align="start center"
	layout-padding>
	<div>
		<form style="min-width: 300px;" name="form" ng-submit="submit()" layout="column" flex flex-gt-xs="50">
			<md-input-container class="md-block no-errors-spacer">
	            <label>* {{ 'New password' | translate }}:</label>
	            <input
					autocorrect="off" 
					autocapitalize="off"
	            	ng-model="password" 
	            	type="password">
	        </md-input-container>
	        <md-input-container class="md-block no-errors-spacer">
	            <label>* {{ 'New password confirmation' | translate }}</label>
	            <input
					autocorrect="off" 
					autocapitalize="off"
	            	ng-model="password_confirmation" 
	            	type="password">
	        </md-input-container>
	        <input type="submit" hidden>
			<div layout="row">
				<md-button
					flex
					style="margin: 0;"
					class="md-raised md-primary"
					ng-click="submit()">
					{{ 'Save' | translate }}
				</md-button>
			</div>
		</form>
	</div>
</md-content>