<md-content 
    md-scroll-y 
    layout-fill 
    layout="column"
    layout-padding>
    <div layout="row" >
	    <form name="form" ng-submit="submit()" layout="column" flex flex-gt-xs="50">
	    	<input type="submit" hidden>
	    	<md-input-container class="md-block no-errors-spacer">
	    		<label>* {{ 'Name' | translate }}:</label>
				<input 
					name="name" 
					type="text" 
					ng-model="user.name" 
					minlength="2" 
					maxlength="100" 
					autocorrect="off" 
					autocapitalize="words" />
			</md-input-container>
			<md-input-container class="md-block no-errors-spacer">
	    		<label>* E-mail</label>
				<input 
					name="email" 
					type="email" 
					ng-model="user.email" 
					minlength="5" 
					maxlength="100" 
					ng-pattern="/^.+@.+\..+$/" />
			</md-input-container>
			<md-input-container class="md-block no-errors-spacer">
	    		<label>{{ 'Birthdate' | translate }}</label>
      			<md-datepicker 
      				ng-model="user.birthdate"
                    date-format 
                    md-hide-icons="calendar"></md-datepicker>
			</md-input-container>
			<div flex="none" layout="row" layout-align="start center">
				<md-input-container class="no-errors-spacer" flex-gt-sm="25">
	                <label>{{ 'Country' | translate }}:</label>
	                <md-select 
	                	ng-model="user.customer.country_id"
	                	ng-change="countryChange(user.customer.country_id)">
	                    <md-option><em>{{ 'Choose' | translate }}...</em></md-option>
	                    <md-option ng-repeat="country in countries" ng-value="country.id">
	                        {{ country.nicename }}
	                    </md-option>
	                </md-select>
	            </md-input-container>
	            <span class="muted" style="margin: 4px 5px 0 10px" ng-if="countrySelected.phonecode">+{{ countrySelected.phonecode }}</span>
				<md-input-container flex class="md-block no-errors-spacer">
		    		<label>{{ 'Phone' | translate }}</label>
					<input 
						name="phone" 
						type="tel" 
						ng-model="user.customer.phone" 
						phone-format="{{ user.customer.country_id }}" />
				</md-input-container>
			</div>
			<!-- SEGURAÇA -->
	        <h1 style="margin: 20px 0 0 0;" class="md-title sleen muted text-uppercase">{{ 'Security' | translate }}</h1>
			<md-input-container class="md-block no-errors-spacer">
	            <label>* {{ 'Password' | translate }}:</label>
	            <input
					autocorrect="off" 
					autocapitalize="off"
	            	ng-model="user.password" 
	            	type="password">
	        </md-input-container>
	        <md-input-container class="md-block no-errors-spacer">
	            <label>* {{ 'Confirm your password' | translate}}:</label>
	            <input
					autocorrect="off" 
					autocapitalize="off"
	            	ng-model="user.password_confirmation" 
	            	type="password">
	        </md-input-container>
		    <p class="hint" style="text-align: right;"><small>( * ) {{ 'Required fields.' | translate}}</small></p>
			<md-button
				style="margin: 0;"
				class="md-raised md-primary"
				ng-click="submit()">
				{{ 'Save' | translate }}
			</md-button>
	    </form>
    </div>
</md-content>