<div layout="row"
	layout-fill
	layout-align="none none"
	layout-align-gt-xs="center center">
	<md-whiteframe 
		class="md-whiteframe-z1" 
		flex-xs="100"
		layout-padding>
		<md-content layout="column">
			<div style="width: 450px;" hide-xs></div>
			<h1 class="md-display-2 text-center">Hash4All</h1>
			<h1 class="md-headline text-center">
				{{ message }}
			</h1>
			<md-button 
				class="md-primary"
				ui-sref="login">
				<span>Entrar</span>
				<md-icon class="mdi mdi-arrow-right"></md-icon>
			</md-button>
		</md-content>
	</md-whiteframe>
</div>