<md-content 
    layout-fill
    class="buy-step-01"
    layout="column"
    >
    <div flex="none" class="text-center text-italic muted" style="margin-bottom: 15px;" ng-if="plan">
		<strong>{{ amount }} x {{ plan.title }}</strong>
		<BR>
		<small>({{ plan.description }})</small>
	</div>
    <div flex layout="row" layout-align="center center" layout-padding>
		<div flex="none" layout="column" layout-align="center center" style="margin: 0; padding: 0;">
			<h1 flex="none" 
				class="md-display-4"
				md-colors="{ color : 'hash4all-accent-hue-1' }">
	    		<strong>{{ terahash | zeroPad:2 }}</strong>
	    	</h1>
	    	<h1 flex="none" class="md-subhead">
	    		TH / {{ 'Sec' | translate }}.
	    	</h1>
		</div>
		<md-button ng-if="amount > 0" class="md-icon-button" style="opacity: .2; margin: 0; padding: 0;" aria-label="Clear" ng-click="reset()">
			<md-icon class="mdi mdi-close-circle-outline"></md-icon>
		</md-button>
    </div>
    <div class="muted sleen" style="margin:0 15px;"><small>{{ 'Plans' | translate }}:</small></div>
	<div flex="none"
		layout="row"
		layout-margin
		layout-align="space-around none"
		style="margin-bottom: 0" >
		<div 
			flex
			class="plan pointer noselect {{ amount > 0 && item.id == plan.id ? 'selected':'' }}" 
			ng-repeat="item in plans"
			md-colors="{ color : 'hash4all-accent-hue-1' }"
			ng-click="selectPlan(item)"
			layout="row" layout-align="center center">
			<div>
				{{ item.title }}
			</div>
		</div>
	</div>
	<div 
		flex="none" 
		layout="row" 
		layout-align="start center" 
		layout-padding
		md-colors="{ background : 'hash4all-accent-hue-1', color: 'hash4all-primary' }">
		<md-input-container flex="none" md-no-float>
			<md-select ng-model="coin" aria-label="Select">
				<md-option><em>{{ 'Choose' | translate }}...</em></md-option>
				<md-option 
					ng-repeat="item in coins"
					ng-value="item"
					>
					{{ item.symbol }}
				</md-option>
			</md-select>
		</md-input-container>
		<div
			flex
			class="pointer"
			layout="row" 
			layout-align="none center"
			ng-if="amount"
			ui-sref="orderStoreStep02({ 
				plan : plan, 
				amount : amount, 
				coin : coin,
				terahash : terahash, 
			})">
			<div 
				flex
				layout="column">
				<h1 class="md-title sleen">{{ 'Pay' | translate }}</h1>
				<h1 class="md-title" ng-if="plan">
					<strong>
						{{ coin.symbol }} {{ amount * coin.quotation * plan.value | money:coin.symbol }}
					</strong>
				</h1>
			</div>
			<md-icon class="mdi mdi-chevron-right"></md-icon>
		</div>
		<h1 class="md-title muted text-italic" ng-if="!amount">
			{{ "Choose one plan" | translate }}...
		</h1>
	</div>
</md-content>
<style type="text/css">
	.buy-step-01 .plan {
    	border: 3px solid #f9e641 !important;
    	border-radius: 7px;
    	box-shadow: none !important;
    	font-size: 30px;
    	line-height: 32px;
    	padding: 10px 7px;
    	text-align: center;
    	vertical-align: middle;
	}
	
	.buy-step-01 .selected {
		background-color: rgba(0,0,0,.7);
	}
	
	.buy-step-01 h1 {
		margin: 0;
	}
	
	.buy-step-01 .md-display-4 {
		position: relative;
	}
	
	.buy-step-01 .md-select-value {
		border: none !important;
	}
</style>