<md-content 
    layout-fill
    class="buy-step-02"
    layout="column"
    >
    <div class="paypal" layout-margin></div>
    <div 
    	class="pay-button pointer"
		layout="row"
		ng-click="submit()">
		<h1 flex="none" class="md-title">{{ 'Pay' | translate }}</h1>
		<div flex></div>
		<h1 flex="none" class="md-title">
			<strong>
				{{ coin.symbol }} {{ amount * coin.quotation * plan.value | money:coin.symbol }}
			</strong>
		</h1>
		<md-icon flex="none" class="mdi mdi-chevron-right"></md-icon>
	</div>
	<div flex class="details">
		<div class="muted"><small>{{ 'Details' | translate }}</small></div>
		<table>
			<tbody>
				<tr>
					<th>
						{{ 'Plan' | translate }}
					</th>
					<td>
						<span>{{ plan.title }}</span>
						<br>
						<small>{{ plan.description }}</small>
						<br>
						<small>Terahash {{ plan.terahash }}</small>
					</td>
				</tr>
				<tr>
					<th>
						{{ 'Amount' | translate }}
					</th>
					<td>
						{{ amount }}
					</td>
				</tr>
				<tr>
					<th>
						{{ 'To Obtain' | translate }}
					</th>
					<td>
						{{ terahash }} Terahash{{ terahash > 1 ? 's':'' }}
					</td>
				</tr>
				<tr>
					<th>
						{{ 'To Pay' | translate }}
					</th>
					<td>
						<strong>{{ coin.symbol }} {{ amount * coin.quotation * plan.value | money:coin.symbol }}</strong>
						<br>
						<small style="opacity: .5">{{ coin.name }}</small>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</md-content>
<style type="text/css">
	.buy-step-02 .paypal {
		background: transparent url('img/paypal.png') no-repeat center center;
		background-size: contain;
		height: 200px;
	}
	
	.buy-step-02 .pay-button {
		border: 3px solid #f9e641 !important;
    	border-radius: 7px;
    	box-shadow: none !important;
    	font-size: 30px;
    	line-height: 32px;
    	padding: 10px 15px;
    	margin: 15px;
    	text-align: center;
    	vertical-align: middle;
	}
	
	.buy-step-02 .details {
		margin: 20px 15px 0;
		background-color: #ffffff;
		padding: 15px;
		border-radius: 15px 15px 0 0;
		box-shadow: 0px -2px 10px rgba(0,0,0,.1);
	}
	
	.buy-step-02 .pay-button md-icon {
		font-size: 40px;
		line-height: 26px;
		margin-left: 10px;
	}
	
	.buy-step-02 table {
		border-collapse: separate;
		border-spacing: 15px 5px;
		font-size: 120%;
	}
	
	.buy-step-02 table th, .buy-step-02 table td {
		text-align: left;
		color: #5cdef0;
		font-weight: normal;
		vertical-align: top;
	}
</style>