<md-content 
    layout-fill
    class="share-index"
    layout="column"
    layout-align="center none">
    <div
        class="buttons-container"
        layout="row"
        layout-align="space-around center"
        layout-wrap>
        <div class="pointer" layout="column" flex="none" layout-align="center center" ng-click="facebook()">
            <img src="img/share-face.png">
            <p>Facebook</p>
        </div>
        <div class="pointer" layout="column" flex="none" layout-align="center center" ng-click="twitter()">
            <img src="img/share-twitter.png">
            <p>Twitter</p>
        </div>
    </div>
    <div
        class="buttons-container"
        layout="row"
        layout-align="space-around center"
        layout-wrap>
        <div class="pointer" layout="column" flex="none" layout-align="center center" ng-click="linkedin()">
            <img src="img/share-linkedin.png">
            <p>Linkedin</p>
        </div>
        <div layout="column" flex="none" layout-align="center center" ng-click="email()">
            <img src="img/share-email.png">
            <p>E-mail</p>
        </div>
        <!-- <div class="pointer" layout="column" flex="none" layout-align="center center" ng-click="twitter()">
            <img src="img/share-share.png">
            <p>{{ 'Share' | translate }}</p>
        </div> -->
    </div>
</md-content>
<style type="text/css">
    .share-index .buttons-container > div {
        width: 100px;
        margin: 50px 0;
    }
    .share-index .buttons-container > div img {
        width: 90px;
        height: 90px;
    }
</style>