<md-dialog 
	md-dark
	class="dialog-login">
	<form ng-submit="submit()">
		<md-dialog-content>
			<div class="md-dialog-content">
				<h1 class="md-display-1 text-center">Hash4All</h1>
				<md-input-container class="md-block no-errors-spacer">
		    		<label>{{ 'E-mail' | translate }}</label>
					<input md-autofocus 
						type="email" 
						ng-model="account.username" 
						autocomplete="off"
						autocapitalize="off" />
				</md-input-container>
				<md-input-container class="md-block no-errors-spacer">
		    		<label>{{ 'Password' | translate }}</label>
					<input type="password" 
						ng-model="account.password" 
						maxlength="500" 
						autocomplete="off"
						autocapitalize="off" />
				</md-input-container>
				<input type="submit" hidden>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="column">
			<md-button 
				aria-label="Botão" 
				class="md-raised"
				ng-click="submit()">
				{{ 'Login' | translate }}
			</md-button>
			<md-button 
				aria-label="Botão"
				ng-click="forgot()">
				{{ 'Forgot Password' | translate }}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
<style type="text/css">

	.dialog-login {
		width: 90%;
		max-width: 350px;
	}
	
	.dialog-login .md-raised {
		background-color: transparent !important;
    	border: 1px solid #f9e641 !important;
    	min-width: 170px;
    	box-shadow: none !important;
	}
	
	.dialog-login .md-raised:hover {
		border: 1px solid #000000 !important;
	}
</style>