<md-content 
    layout-fill 
    layout-padding
    layout="row">
    <div layout="column" flex flex-gt-xs="50">
        <p flex="none">
            <small is-language="pt_br">
        		Escolha uma senha que não seja fácil, usando letras maiúsculas, letras com números e caracteres especiais (@, #, $...).
    	    	<br>
    	    	Priorise sua segurança!
        	</small>
            <small is-language="en_us">
                Choose a password that is not easy, using capital letters, letters with numbers, and special characters (@, #, $...).
                <br>
                Priorise your safety!
            </small>
        </p>
        <form flex="none" name="form" ng-submit="submit()" layout="column">
            <md-input-container class="no-errors-spacer">
                <label>{{ 'Current password' | translate }}</label>
                <input
                    ng-model="current_password"
    				autocorrect="off" 
    				autocapitalize="off"
                	type="password">
            </md-input-container>
            <md-input-container class="no-errors-spacer">
                <label>{{ 'New password' | translate }}</label>
                <input
                    ng-model="password"
    				autocorrect="off" 
    				autocapitalize="off"
                	type="password">
            </md-input-container>
            <md-input-container class="no-errors-spacer">
                <label>{{ 'New password confirmation' | translate }}</label>
                <input
                    ng-model="password_confirmation"
    				autocorrect="off" 
    				autocapitalize="off"
                	type="password">
            </md-input-container>
            <div style="width: 30px; height: 30px; display: block;"></div>
            <input type="submit" hidden>
    	    <div layout="row">
    			<md-button
    				flex
    				style="margin:0;"
    				class="md-raised md-primary"
    				aria-label="Alterar"
                    ng-click="submit()">
    				{{ 'Update' | translate }}
    			</md-button>
    		</div>
        </form>
    </div>
</md-content>