<md-fab-speed-dial 
    class="md-fab-bottom-right" 
    md-direction="up" 
    ng-class="selectedMode">
    <md-fab-trigger>
        <md-button aria-label="Menu" class="md-fab md-primary">
            <md-icon class="mdi mdi-dots-vertical"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Remover" 
            class="md-fab md-mini md-warn" 
            ng-click="delete()">
            <md-icon class="mdi mdi-delete"></md-icon>
            <md-tooltip md-direction="left">
                {{ 'Remove' | translate }}
            </md-tooltip>
        </md-button>
        <md-button aria-label="Remover" 
            class="md-fab md-mini md-primary"
            ui-sref="accountPassword">
            <md-icon class="mdi mdi-security"></md-icon>
            <md-tooltip md-direction="left">
                {{ 'Security' | translate }}
            </md-tooltip>
        </md-button>
        <md-button 
            ui-sref="accountUpdate"
            class="md-fab md-mini md-primary"
            aria-label="Button">
            <md-tooltip md-direction="left">
                {{ 'Update' | translate }}
            </md-tooltip>
            <md-icon class="mdi mdi-pencil"></md-icon>
        </md-button>        
    </md-fab-actions>
</md-fab-speed-dial>
<md-content 
    layout-fill
    class="account-show"
    layout="column"
    layout-padding
    >
    <div layout="column" layout-gt-xs="row" layout-align="none center">
        <div class="avatar-container">
            <div 
                ng-if="user.avatar.length && user.avatar[0].file" 
                class="avatar" 
                style="background-image: url('{{ user.avatar[0].file | url }}');"></div>
            <div 
                ng-if="user.avatar.length && user.avatar[0].url" 
                class="avatar" 
                style="background-image: url('{{ user.avatar[0].url }}');"></div>
        </div>
        <div>
            <h1 class="md-title sleen">{{ user.name }}</h1>
        </div>
    </div>
    <div layout="column" layout-gt-xs="row">
        <p flex><strong>E-mail:</strong> 
            <a href="mailto:{{ user.email}}">
                {{ user.email }}
            </a>
        </p>
        <p flex>
            <strong>{{ 'Birthdate' | translate }}:</strong> 
            {{ user.customer.birthdate | datetime:'ll' }} <span class="muted" ng-if="user.customer.birthdate">({{ user.customer.birthdate | age }} anos)</span>
        </p>
    </div>
    <div layout="column" layout-gt-xs="row">
        <p flex><strong>{{ 'Phone' | translate }}:</strong> 
            <a href="tel:+{{ user.customer.country.phonecode }}{{ user.customer.phone}}">
                <span ng-if="user.customer.country.phonecode">+{{ user.customer.country.phonecode }}</span> 
                {{ user.customer.phone | tel:user.customer.country_id }}
            </a>
        </p>
        <p flex><strong>{{ 'Country' | translate }}:</strong> {{ user.customer.country.nicename }}</p>
    </div>
    <div layout="column" layout-gt-xs="row">
        <p flex style="cursor: pointer;">
            <strong>Terahash:</strong> 
            <span >{{ user.customer.terahash }}</span>
            <sup class="muted">
                <small>Th/{{ 'Seg' | translate }}.</small>
            </sup>
        </p>
    </div>
</md-content>
<style type="text/css">

    .account-show .avatar-container {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: 10px;
        padding: 0;
        border: 1px solid #f1f1f1;
        background-color: #333333;
    }
    
    .account-show .avatar {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        margin: 0;
        padding: 0;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>