<md-content 
	class="account-update"
    md-scroll-y 
    layout-fill 
    layout="column"
    layout-padding>
    <div flex="none" layout="row" >
	    <form flex="none" name="form" ng-submit="submit()" layout="column" flex flex-gt-xs="50">
	    	<div flex="none" layout="column" layout-gt-xs="row" layout-align="none center">
		    	<div class="avatar-container">
		            <div 
		                ng-if="user.avatar.length && user.avatar[0].file" 
		                class="avatar" 
		                style="background-image: url('{{ user.avatar[0].file | url }}');"></div>
		            <div 
		                ng-if="user.avatar.length && user.avatar[0].url" 
		                class="avatar" 
		                style="background-image: url('{{ user.avatar[0].url }}');"></div>
		        </div>
		        <upload-image 
                    error="uploadError" 
                    success="uploadSuccess"
                    end-point="/api/v1/pt_br/photo/store">
                </upload-image>
		    </div>
	    	<md-input-container flex="none" class="md-block no-errors-spacer">
	    		<label>* {{ 'Name' | translate }}:</label>
				<input 
					name="name" 
					type="text" 
					ng-model="user.name" 
					minlength="2" 
					maxlength="100" 
					autocorrect="off" 
					autocapitalize="words" />
			</md-input-container>
			<md-input-container flex="none" class="md-block no-errors-spacer">
	    		<label>* E-mail</label>
				<input 
					name="email" 
					type="email" 
					ng-model="user.email" 
					minlength="5" 
					maxlength="100" 
					ng-pattern="/^.+@.+\..+$/" />
			</md-input-container>			
			<md-input-container flex="none" class="md-block no-errors-spacer">
	    		<label>{{ 'Birthdate' | translate }}</label>
      			<md-datepicker 
      				ng-model="user.customer.birthdate"
                    date-format 
                    md-hide-icons="calendar"></md-datepicker>
			</md-input-container>
			
			<div flex="none" layout="row" layout-align="start center">
				<md-input-container class="no-errors-spacer" flex-gt-sm="25">
	                <label>{{ 'Country' | translate }}:</label>
	                <md-select 
	                	ng-model="user.customer.country_id"
	                	ng-change="countryChange(user.customer.country_id)">
	                    <md-option><em>{{ 'Choose' | translate }}...</em></md-option>
	                    <md-option ng-repeat="country in countries" ng-value="country.id">
	                        {{ country.nicename }}
	                    </md-option>
	                </md-select>
	            </md-input-container>
	            <span class="muted" style="margin: 4px 5px 0 10px" ng-if="countrySelected.phonecode">+{{ countrySelected.phonecode }}</span>
				<md-input-container flex class="md-block no-errors-spacer">
		    		<label>{{ 'Phone' | translate }}</label>
					<input 
						name="phone" 
						type="tel" 
						ng-model="user.customer.phone" 
						phone-format="{{ user.customer.country_id }}" />
				</md-input-container>
			</div>
		    <p flex="none" class="hint" style="text-align: right;"><small>( * ) {{ 'Required fields.' | translate}}</small></p>
		    <input type="submit" hidden>
			<md-button
				style="margin: 0;"
				class="md-raised md-primary"
				ng-click="submit()">
				{{ 'Update' | translate }}
			</md-button>
	    </form>
    </div>
</md-content>
<style type="text/css">

    .account-update .avatar-container {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: 0;
        padding: 0;
        border: 1px solid #f1f1f1;
        background-color: #333333;
    }
    
    .account-update .avatar {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        margin: 0;
        padding: 0;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>