<md-content 
    layout-fill
    class="dashboard-show"
    layout="column"
    >
    <div flex="none" layout="row" layout-align="center center">
		<div flex="none" class="watch-01">
			<div class="watch-03" ng-if="user.pointer"></div>
			<div class="watch-02"></div>
			<div class="watch-04 text-center" layout="column" layout-align="center center" md-colors="{ color: 'hash4all-accent-hue-1' }">
				<h1 class="md-display-3">{{ user.customer.terahash }}</h1>
				<h2 class="md-title">TH/{{ 'Sec' | translate }}</h2>
			</div>
		</div>
    </div>
	<div flex="none" layout-padding layout="column">
		<md-button 
			aria-label="Botão"
			class="md-raised"
			ui-sref="orderStoreStep01">
			{{ 'Buy Terahash' | translate }}
		</md-button>
	</div>
</md-content>
<style type="text/css">
	.dashboard-show .watch-01 {
		background: transparent url('img/watch_01.png') no-repeat center center;
		background-size: cover;
		position: relative;
		max-width: 600px;
		max-height: 600px;
		width: {{ square }}px;
		height: {{ square }}px;
		margin: 30px;
		display: block;
		overflow: hidden;
	}
	.dashboard-show .watch-02 {
		background: transparent url('img/watch_02.png') no-repeat center center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.dashboard-show .watch-03 {
		background: transparent url('img/watch_03.png') no-repeat center center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-ms-transform: rotate({{ user.pointer }}deg);
	    -webkit-transform: rotate({{ user.pointer }}deg); /* Chrome, Safari, Opera */
	    transform: rotate({{ user.pointer }}deg);
	}
	.dashboard-show .watch-04 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.dashboard-show .watch-04 h1, .dashboard-show .watch-04 h2 {
		margin: 0;
	}
	
	.dashboard-show .md-raised {
		background-color: transparent !important;
    	border: 3px solid #f9e641 !important;
    	border-radius: 7px;
    	min-width: 170px;
    	box-shadow: none !important;
    	font-size: 26px;
    	line-height: 28px;
    	padding: 20px;
	}
</style>