<md-toolbar class="top-toolbar">
    <div class="md-toolbar-tools">
        <div flex="18" style="min-width: 50px; overflow: hidden;">
            <md-button 
                aria-label="Menu"
                ng-if="backPage == undefined"
                hide-gt-md class="md-icon-button"
                ng-click="toggleMenu()">
                <md-icon class="mdi mdi-menu"></md-icon>
            </md-button>
            <md-button 
                aria-label="Back"
                ng-if="backPage"
                class="md-icon-button"
                ng-click="backPage($event)">
                <md-icon class="mdi mdi-arrow-left"></md-icon>
            </md-button>
        </div>
        <h2 flex="100" style="text-align:center;" ng-bind-html="navigationTitle"></h2>
        <div flex="18" style="min-width: 50px; overflow: hidden;">
            <md-button
                aria-label="Botão"
                class="md-icon-button"
                ng-if="navigationRightButton"
                ng-click="navigationRightButton()"
                ng-bind-html="navigationRightValue">
            </md-button>
        </div>
    </div>
</md-toolbar>