<md-sidenav
    md-light
    layout-fill
    class="md-sidenav-left" 
    md-is-locked-open="$mdMedia('gt-md')"
    style="min-width: 300px;"
    md-component-id="left"
    md-whiteframe="4"
    layout="column">
    <md-content flex layout="column" md-colors="{ background : 'hash4all-primary-900', color: 'hash4all-primary-50' }">
        <div flex="none" class="logo"></div>
        <div class="pointer" flex="none" layout="row" layout-align="start center" layout-padding ui-sref="accountShow">
            <div flex="none" class="avatar-container">
                <div 
                    ng-if="account.avatar.length && account.avatar[0].file" 
                    class="avatar" 
                    style="background-image: url('{{ account.avatar[0].file | url }}');"></div>
                <div 
                    ng-if="account.avatar.length && account.avatar[0].url" 
                    class="avatar" 
                    style="background-image: url('{{ account.avatar[0].url }}');"></div>
            </div>
            <div flex="none" layout="column">
                <span md-colors="{ color: 'hash4all-accent-hue-1' }">{{ account.name }}</span>
                <span>{{ 'Welcome back!' | translate }}</span>
            </div>
            <md-button aria-label="Button" class="md-icon-button md-accent md-hue-1">
                <i class="mdi mdi-pencil"></i>
            </md-button>
        </div>
        <md-list flex="none" class="menu">
            <md-list-item ui-sref-active="active" class="md-1-line" ui-sref="dashboardShow">
                <i class="mdi mdi-home"></i>&nbsp;
                {{ 'Home' | translate }}
            </md-list-item>
            <md-list-item ui-sref-active="active" class="md-1-line" ui-sref="orderStoreStep01">
                <i class="mdi mdi-coin"></i>&nbsp;
                {{ 'Buy' | translate }}
            </md-list-item>
            <md-list-item ui-sref-active="active" class="md-1-line" ui-sref="balanceIndex">
                <i class="mdi mdi-scale-balance"></i>&nbsp;
                {{ 'Balance' | translate }}
            </md-list-item>
            <md-list-item ui-sref-active="active" class="md-1-line" ui-sref="orderIndex">
                <i class="mdi mdi-history"></i>&nbsp;
                {{ 'History' | translate }}
            </md-list-item>
            <md-list-item ui-sref-active="active" class="md-1-line" ui-sref="shareIndex">
                <i class="mdi mdi-share"></i>&nbsp;
                {{ 'Invite & Share' | translate }}
            </md-list-item>
            <md-list-item ui-sref-active="active" class="md-1-line" ui-sref="aboutShow">
                <i class="mdi mdi-information-outline"></i>&nbsp;
                {{ 'About' | translate }}
            </md-list-item>
            <md-list-item ui-sref-active="active" class="md-1-line" ng-click="logout()">
                <i class="mdi mdi-power"></i>&nbsp;
                {{ 'Logout' | translate }}
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>