<md-content 
    layout-fill
    class="about-show"
    layout="column"
    style="background-color: #ffffff;"
    >
    <!-- <div class="banner" flex="none"></div> -->
    <img flex="none" width="100%" src="img/about-show.png">
    <div flex layout="column" layout-padding>
        <p><strong>Blockchain technology company</strong></p>
        <p>
            Hash4All has been in the pinnacle of cryptocurrency mining operations since 2013. With the most experienced software and hardware engineers in the world, it has created the world´s most powerful bitcoin mining powerhouse, with superior yields. We have offices in Brazil, California and China to provide our clients with the best person-to-person service in the industry.
        </p>
    </div>
</md-content>